@font-face {
  font-family: "Poppins Medium";
  font-style:normal;
  font-weight: normal;
  src: url("./Assets/ChevadisplayRegular-1G5ve.otf");
}
@font-face {
  font-family: "Poppins Medium";
  font-style:normal;
  font-weight: normal;
  src: url("./Assets/ChevadisplayRegular-1G5ve.otf");
}
@font-face {
  font-family: "Poppins Medium";
  font-style:normal;
  font-weight: normal;
  src: url("./Assets/ChevadisplayRegular-1G5ve.otf");
}
@font-face {
  font-family: "Poppins Medium";
  font-style:normal;
  font-weight: normal;
  src: url("./Assets/ChevadisplayRegular-1G5ve.otf");
}
@font-face {
  font-family: "Poppins Medium";
  font-style:normal;
  font-weight: normal;
  src: url("./Assets/ChevadisplayRegular-1G5ve.otf");
}
@font-face {
  font-family: "Poppins Medium";
  font-style:normal;
  font-weight: normal;
  src: url("./Assets/ChevadisplayRegular-1G5ve.otf");
}
@font-face {
  font-family: "Poppins Medium";
  font-style:normal;
  font-weight: normal;
  src: url("./Assets/ChevadisplayRegular-1G5ve.otf");
}
*{
  outline: none;
}

body {
 margin: 0%;
  overflow-y: overlay;
  font-family: "poppins regular";
 -webkit-font-smoothing: antialised;
 -moz-osx-font-smoothing: grayscale;

}
code{
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
::-webkit-scrollbar{
  width: 6px !important;
  height:6px !important;
}
body ::-webkit-scrollbar-thumb{
background-color: hsla(0, 0%, 100%, 0.16);
}

::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0, 0, 2);
}

.btn {
  border-radius: 50px;
  padding: 14px 0;
  width: 160px;
  cursor: pointer;
  transition: 0.2s;
  font-family:'Courier New', Courier, monospace;
}

  .btn:active {
    transform: translateY(2px);
  }

::-webkit-scrollbar-track{
  background-color: hsla(0, 0%, 100, 0.1);
}
::-webkit-scrollbar-track {
  background: hsla((0, 0%, 100%, 0.1), saturation, lightness, alpha);
}
.primary-btn {
  color: var(--white);
  border-style: calc(2px solid linen);
  font-size: 12px;
  background-color: aquamarine;
}
.highlighted-btn {
  color: var(--white);

  font-size: 12px;
  background-color: crimson;
}
@media only screen and (max-width: 568) {
  .highlighted-btn{
    z-index: -900;
  }
}
.red-border {
  border: 1px solid var(--error-message) !important;
}


.primary-btn:hover {
  color: aliceblue;
  border: 2px solid #ff5823;
  background-color: #1f2235;
}